body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 7;
    color: #333;
    background-image:url('bl.jpg'); 
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333; 
    padding:7;
}
table {
    margin: 20px auto;
    border-spacing: 12px;
}
img {
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: translateY(-8px); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); 
}
p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    color: #4B0082; /* Indigo */
}
